{% extends 'index.html' %}
{% load static %}

{% block main %}

{% for shoe in shoes%}
<div class="card">
  <img src="{{shoe.image}}" alt="Avatar" style="width:100%; height:400px;">
  <div class="container">
    <h4><strong>{{shoe.name}}</strong></h4>
    <hr><p>
    <button  data-product={{shoe.id}} data-action="add" class="btn btn-outline-dark update-cart" style="margin-right: 30%;">Add to Cart</button>       <strong>Rs.{{shoe.price|floatformat:2}}</h4>
    </strong> </p>
  </div>
</div>
{% endfor%}{%endblock main%}